/* .row{
    width: 70%;
    margin: 0 auto;
} */
/* .{
    width: 30%;
    border: 2px solid rgba(7, 81, 7, 0.748);
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  } */
button{
    margin: 5px;
}